.app-modal-window .modal-dialog {
    width: 90%;
}

.modal-header {

    color: white;
    background-clip: padding-box;

}
.modal-header.success {

    background: green;

}

.modal-header.error {
    
    background: orange;
    
}