<div class="text-right">
    <a ui-sref="consultancy.list">Xem danh sách tư vấn</a>
</div>
<div class="title title-icon-details">
    thông tin tư vấn
</div>
<div class="container-fluid">
    <div class="row">
        <div>
            <form class="form-horizontal custom-form" style="padding-top: 20px" ng-submit="update()">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Mã tư vấn:</label>
                            <input type="text" name="ConsID" class="form-control custom-input" value="{{mainInfo.ConsID}}" disabled>
                        </div>
                        <div class="form-group">
                            <label style="display: block">Người được tư vấn</label>
                            <input type="text" name="ConsultedPerson" class="form-control custom-input" value="{{mainInfo.ConsultedPerson}}" ng-disable="!auth.isPermitted('consultancy-edit')">
                        </div>
                        <div class="form-group">
                            <label>Thời gian</label>
                            <input id="time" type="text" class="form-control custom-input" ng-model="info.Time" value="{{mainInfo.Time}}" date-picker required
                                ng-disable="!auth.isPermitted('consultancy-edit')">
                        </div>
                    </div>
                    <div class="col-sm-7 col-sm-offset-1 col-xs-12">
                        <div class="form-group">
                            <label>Khách hàng</label>
                            <!-- <div style="display: inline-block; position: relative; top: 8px">
                                        <a ui-sref="customer.details({ CustomerID: info.CustomerID })"><span class="fa fa-2x fa-user"></span></a>
                                    </div> -->
                            <autocomplete placeholder="Nhập mã hoặc tên khách hàng" selected="info.CustomerID" value="mainInfo.CustomerID" url="'/api/customers/options'"
                                ng-disable="isLoading || !auth.isPermitted('study-edit')"></autocomplete>

                        </div>
                        <div class="form-group">
                            <label>Nhân viên tư vấn</label>
                            <!-- <div style="display: inline-block; position: relative; top: 8px">
                                        <a ui-sref="employee.details({ EmplID: info.ConsultingEmplID })"><span class="fa fa-2x fa-user"></span></a>
                                    </div> -->
                            <autocomplete placeholder="Nhập mã hoặc tên nhân viên" selected="info.ConsultingEmplID" value="mainInfo.ConsultingEmplID"
                                url="'/api/employees/options'" ng-disable="isLoading || !auth.isPermitted('study-edit')"></autocomplete>

                        </div>
                    </div>
                </div>

                <div class="text-right" ng-style="{ 'opacity': isLoading ? '0.5' : '1' }" ng-if="auth.isPermitted('consultancy-edit')">
                    <button type="submit" class="button has-icon primary submit">
                                                    <div ng-show="isLoading">
                                                        Đang lưu ...
                                                    </div>
                                                    <div ng-hide="isLoading">
                                                        Lưu
                                                    </div>
                                </button>
                    <button type="reset" class="button has-icon refresh">Trở lại mặc định</button>
                </div>
            </form>
        </div>
    </div>
    <div class="title title-icon-list" style="margin-top: 50px">
        tài liệu liên quan
    </div>
    <filter-box for="document"></filter-box>
    <file-manager document="mainInfo.Document" url="uploadUrl"></file-manager>
    <div class="title" style="font-size: 1.2em; color: gray; margin-top: 50px">
        đăng tài liệu mới
    </div>
    <uploader></uploader>
</div>